h1 {
    color: var(--text-black);
}

.followers {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.card {
    height: 34vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--card-color);
    border-radius: 8px;
    text-align: center;
}

.card:hover {
    filter: brightness(92.5%);
    cursor: pointer;
}

.facebook {
    border-top: 5px solid var(--facebook);
}

.twitter {
    border-top: 5px solid var(--twitter);
}

.instagram {
    border-top: 5px solid var(--instagram);
}

.youtube {
    border-top: 5px solid var(--youtube);
}

.icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
}

.icon img {
    margin-right: 10px;
}

.title-card {
    margin: 0;
    font-size: 55px;
    font-weight: 700;
    color: var(--text-black);
}

.title-followers {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 0.8rem;
}

.title-up, .title-down {
    font-weight: bold;
}

.title-up {
    color: var(--lime-green);
}

.title-down {
    color: var(--bright-red);
}

.card-footer {
    text-align: center;
    margin-top: 30px;
}