.overview {
    margin-top: 3rem;
    padding-left: 8rem;
    padding-right: 7rem;
}

.overview-header h2 {
    color: var(--text-color);
}

.line {
    display: flex;
    justify-content: space-around;
}

.card-overview {
    height: 19vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--card-color);
    border-radius: 6px;
    text-align: center;
    margin-top: 2rem;
}

.card-overview:hover {
    filter: brightness(92.5%);
    cursor: pointer;
}

.overview-card-header {
    width: 100%;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-overview {
    color: var(--text-color);
    font-weight: 700;
}

.overview-card-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number-overview {
    font-size: 1.5rem;
    font-weight: 700;
}

.up-title {
    color: var(--lime-green);
    font-weight: 700;
}

.down-title {
    color: var(--bright-red);
    font-weight: 700;
}