html {
    height: 100%;
    width: 100%;
    display: grid;

    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
    --toggle-light: hsl(230, 22%, 74%);
    --white: hsl(0, 0%, 100%);

    /*dark theme*/
    --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --dark-blue-bg: hsl(230, 17%, 14%);
    --dark-blue-bg-top: hsl(232, 19%, 15%);
    --dark-blue-card: hsl(228, 28%, 20%);
    --dark-blue-text: hsl(228, 34%, 66%);

    /*light theme*/
    --light-blue-bg-top: hsl(225, 100%, 98%);
    --light-blue-card: hsl(227, 47%, 96%);
    --light-blue-text: hsl(228, 12%, 44%);
    --light-very-blue-text: hsl(230, 17%, 14%);
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.body-top {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 275px;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background: var(--light-blue-bg-top);
}

#principal-title {
    margin: 0;
}

header {
    display: flex;
}



.title {
    display: flex;
    flex-direction: column;
}

h4 {
    color: var(--light-blue-text);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 7.8rem 0 7.8rem;
}

hr {
    overflow: visible;
}