html {
    height: 100%;
    width: 100%;
    display: grid;

    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --youtube: hsl(348, 97%, 39%);
    --instagram: hsl(329, 70%, 58%);
    --toggle: hsl(230, 22%, 74%);
    --white: hsl(0, 0%, 100%);

    /*light theme*/
    --bg-top: hsl(225, 100%, 98%);
    --card-color: hsl(227, 47%, 96%);
    --light-blue-text: hsl(228, 12%, 44%);
    --text-color: hsl(230, 7%, 14%);
    --text-black: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 100%);
}

html[data-theme='dark'] {
    --toggle: hsl(146, 68%, 55%);
    --bg: #1e202a;
    --bg-top: #1f212e;
    --card-color: #252a41;
    --text-color: hsl(228, 34%, 66%);
    --text-black: hsl(0, 0%, 100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms;
  transition-delay: 0;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg);
}

.body-top {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 275px;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background: var(--bg-top);
}

#principal-title {
    margin: 0;
}

header {
    display: flex;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 7.8rem 0 7.8rem;
}

.title {
    display: flex;
    flex-direction: column;
}

h4 {
    color: var(--text-color);
}

hr {
    display: none;
}