input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-left: 10px;
}

.toggle {
    display: flex;
    align-items: center;
}

.toggle p {
    color: var(--light-blue-text);
    font-weight: 700;
}

label {
    cursor: pointer;
    text-indent: -999px;
    width: 52px;
    height: 27px;
    background-color: var(--toggle-light);
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--toggle-light);
}

input:checked + label::after {
    left: calc(69% - 5px);
    transition: translateX(-100%);
}

label:active:after {
    width: 45px;
}